**/.git
.dockerignore

doc
bin
lib

llvm/build
llvm/install

src/benchmarks/results
src/benchmarks/branches

llvm/src/clang
llvm/src/clang-tools-extra
llvm/src/compiler-rt
llvm/src/debuginfo-tests
llvm/src/libclc
llvm/src/libcxx
llvm/src/libcxxabi
llvm/src/libunwind
llvm/src/lld
llvm/src/lldb
llvm/src/llgo
llvm/src/openmp
llvm/src/parallel-libs
llvm/src/polly
llvm/src/pstl
