[submodule "llvm/src"]
	path = llvm/src
	url = https://github.com/ManticoreProject/llvm.git
	branch = manti-stacks
[submodule "src/benchmarks"]
	path = src/benchmarks
	url = https://github.com/ManticoreProject/benchmark.git
	branch = master
[submodule "src/lib/basis"]
	path = src/lib/basis
	url = https://github.com/ManticoreProject/basis.git
	branch = mini-basis
