[submodule "llvm/src"]
	path = llvm/src
	url = https://smlnj-gitlab.cs.uchicago.edu/manticore/llvm.git
	branch = master
[submodule "src/benchmarks"]
	path = src/benchmarks
	url = https://smlnj-gitlab.cs.uchicago.edu/manticore/benchmarks.git
	branch = master
[submodule "src/lib/basis"]
	path = src/lib/basis
	url = https://smlnj-gitlab.cs.uchicago.edu/manticore/basis.git
	branch = master
